<div class="logo flex-column-auto">
  <a class="navbar-brand navbar-logo" routerLink="/">Book Store.</a>
</div>
<div class="aside-menu-wrapper flex-column-fluid">
  <div class="aside-menu my-4">
    <ul class="menu-nav">
      <li class="menu-item">
        <a routerLink="#" class="menu-link">
          <span class="menu-icon">
            <i-bs name="activity" width="20" height="20"></i-bs>
          </span>
          <span class="menu-text mx-3">Dashboard</span>
        </a>
      </li>
      <li class="menu-section">
        <h4 class="menu-text">Admin</h4>
      </li>
      <li class="menu-item menu-item-submenu">
        <a routerLink="/admin/books" class="menu-link">
          <span class="menu-icon">
            <i-bs name="book" width="20" height="20"></i-bs>
          </span>
          <span class="menu-text mx-3">Book</span>
        </a>
      </li>
      <li class="menu-item menu-item-submenu">
        <a routerLink="/admin/categories" class="menu-link">
          <span class="menu-icon">
            <i-bs name="box" width="20" height="20"></i-bs>
          </span>
          <span class="menu-text mx-3">Category</span>
        </a>
      </li>
      <li class="menu-item menu-item-submenu">
        <a routerLink="/admin/users" class="menu-link">
          <span class="menu-icon">
            <i-bs name="people" width="20" height="20"></i-bs>
          </span>
          <span class="menu-text mx-3">User</span>
        </a>
      </li>
    </ul>
  </div>
</div>