.aside-menu .menu-nav {
  margin: 0;
  list-style: none;
  padding: 15px 0;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 25px;
  height: 65px;
  background: #161c25;
}

.menu-text {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFf;
  cursor: pointer;
  text-transform: initial;
}
.menu-link{
  text-decoration: none;
  padding: 9px 25px;
  cursor: pointer;
  min-height: 44px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}
.menu-section {
  margin: 20px 0 0 0;
  height: 40px;
  padding: 0 25px;
}
.menu-section .menu-text{
  color: #8d8c8c;
}

.menu-item:hover{
  background: black;
}

.menu-icon{
  color: #FFFFFF;
}