<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Product A</td>
                <td>500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Product B</td>
                <td>700</td>
            </tr>
        </tbody>
    </table>
</div>