<footer class="bg-light footer text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">

    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Đăng Ký Nhận Bản Tin Của Nhà Sách</strong>
            </p>
          </div>
          <br>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Email input -->
            <div class="form-outline d-flex form-white mb-4">
              <input type="email" placeholder="Nhập địa chỉ email" class="form-control" style="width:300px; margin-right: 30px;" />
              <button class="btn btn-secondary">
                Đăng ký
              </button>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Về chúng tôi</h5>
        <hr>

        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="a" class="text-dark">Giới thiệu</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Điều khoản sử dụng</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Chính Sách Bảo Mật</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Chính Sách Bán Hàng</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Phương Thức Vận Chuyển</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">tài khoản</h5>
        <hr>

        <ul class="list-unstyled">
          <li>
            <a routerLink="a" class="text-dark">Đăng nhập</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Đăng ký</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Danh sách yêu thích</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Danh Sách So Sánh</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">HỖ TRỢ KHÁCH HÀNG</h5>
        <hr>

        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="a" class="text-dark">Các Câu Hỏi Thường Gặp</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Chính Sách Đổi/Trả Hàng</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Quy Định Viết Bình Luận</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">LIÊN HỆ VỚI CHÚNG TÔI</h5>
        <hr>

        <ul class="list-unstyled">
          <li>
            <a routerLink="a" class="text-dark">Hotline: 1900 6656</a>
          </li>
          <li>
            <a routerLink="a" class="text-dark">Email: hotro@duyvq1407.com</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" routerLink="atps://mdbootstrap.com/">Vũ Quang Duy</a>
  </div>
  <!-- Copyright -->
</footer>