<div class="container sanphammoi">
    <div class="sanphammoi_tiltle">
        <h2>
          <a href="#">Tất cả sản phẩm</a>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-6 pro-loop" *ngFor="let item of books">
            <div class="product">
                <div class="label-pro-sale m-label-pro-sale">
                    <span class="p-sale-label discount-l-fs">-{{item.sale_price}}%</span>
                </div>
                <div class="product_img">
                    <a routerLink="/books/{{item._id}}">
                    <div class="figure">
                        <img [src]="item.image_url" width="270" height="270" />
                    </div>
                    </a>
                </div>
                <div class="product_detail">
                    <h3 class="product_detail-name">
                        <a routerLink="/books/{{item._id}}">{{item.name}}</a>
                    </h3>
                    <div class="product_detail-price">
                        <p class="text-danger"><del class="text-muted">{{ item.price | currency :'VND'}}</del> {{(item.price! * ((100 - item.sale_price!) / 100)) | currency :'VND'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>