<div class="">
  <!-- aside -->
  <div class="aside d-flex flex-column">
    <app-aside-admin></app-aside-admin>
  </div>
  <div class="wrapper d-flex flex-column flex-row-fluid">
    <!-- header -->
    <div class="header">
      <app-header-admin></app-header-admin>
    </div>
    <!-- content -->
    <div class="content">
      <div class="subheader py-2">
        <div class="container-fluid d-flex align-items-center ">
          <div class="d-flex align-items-center mr-2">
            <h5 class="mt-2 mb-2 ms-3">Admin</h5>
            <!-- <a routerLink="/admin/books/add" class="btn btn-light-warning btn-sm">Add New</a> -->
          </div>
        </div>
      </div>
      <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        <!--end::Container-->
      </div>
    </div>
    <!-- Footer -->
    <div class="footer py-3 d-flex flex-lg-column">
      <app-footer-admin></app-footer-admin>
    </div>
  </div>

</div>