<div class="container">
  <div>
    <h2 (click)="clickH2()" class="c">Danh sách giảng viên {{schoolName}}</h2><br><br>
    <button class="btn btn-primary" (click)="changeTableStatus()">{{showStatus ? 'Ẩn' : 'Hiện'}} bảng</button>
    <app-table class="{{showStatus ? 'd-block' : 'd-none'}}" [users] = 'teachers'></app-table>
  </div>
  <div>
    <form action="">
      <input type="text" (keyup)="changeInput($event)">
      <h4>Input value: <span class="text-primary">{{inputValue}}</span></h4>
    </form>
  </div>
  <div>
    <h4>Tên sinh viên: <app-name [name] = "name"></app-name></h4>
    <h4>Mã sinh viên: <app-identity [identity] = "identity"></app-identity></h4>
  </div>
</div>