<header class="p-3">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-LvrKGXOeh1kcdbKwfIe-4kqoQs8FGsUJGQ&usqp=CAU" width="60px">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/admin" class="nav-link px-2">Dashboard</a></li>
          <li><a routerLink="user" class="nav-link px-2">User</a></li>
          <li><a routerLink="product" class="nav-link px-2">Product</a></li>
          <li><a routerLink="/" class="nav-link px-2">Home</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-primary me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>