<div class="container-fluid d-flex align-items-stretch justify-content-between w-145">
    <div class="header-menu-left d-flex align-items-center ms-3">
        <i-bs name="search" class="text-dark-gray me-3" width="20" height="20"></i-bs>
        <input type="text" class="form-control shadow-none border-0" style="width:700px; padding: 15px 0"
            placeholder="Search..." aria-label="Search">
    </div>
    <div class="header-menu-right d-flex align-items-lg-stretch">
        <div ngbDropdown class="d-inline-block d-flex align-items-center">
            <button type="button" class="btn btn-outline-none shadow-none border-none" ngbDropdownToggle>
                <i-bs name="person-fill" width="25" height="25"></i-bs>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem disabled class="user-info d-flex align-items-center">
                    <span class="text-dark">Hi </span> <span>, {{userName}}</span>
                </button>
                <button ngbDropdownItem class="mt-2 d-flex align-items-center">
                    <i-bs name="power" class="me-3" width="20" height="20"></i-bs> Logout
                </button>
            </div>
        </div>
    </div>
</div>