<header class="p-3 bg-white shadow-sm">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
        <img src="https://seeklogo.com/images/B/book-logo-2B8BEBAFCE-seeklogo.com.png" width="60px">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 flex-grow-1 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link text-black px-2">Trang chủ</a></li>
        <div ngbDropdown class="d-inline-block d-flex align-items-center">
          <button type="button" class="btn btn-outline-none shadow-none border-none" ngbDropdownToggle>
            Danh mục
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="mt-2 d-flex align-items-center" *ngFor="let cate of categories"
              [routerLink]="['/categories',cate._id]">
              {{cate.name}}
            </button>
          </div>
        </div>
        <li><a routerLink="a" class="nav-link text-black px-2">Giới thiệu</a></li>
        <li><a routerLink="a" class="nav-link text-black px-2">Liên hệ</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end d-flex align-items-center">
        <div class="d-inline-block d-flex align-items-center">
          <button routerLink="/account" type="button" class="btn btn-outline-none shadow-none border-none">
            <i-bs name="person-fill" width="25" height="25"></i-bs>
          </button>
        </div>
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</header>