<div class="container">
    <button class="btn btn-primary" routerLink="/admin/books/add">Add New</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>Sale</th>
                <th>Description</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let book of cateDetail.books | paginate: { itemsPerPage: 4, currentPage: page, totalItems: cateDetail.books.length }; let i = index">
                <td>{{i + 1}}</td>
                <td>{{book.name}}</td>
                <td><img [src]="book.image_url" height="70"></td>
                <td>{{cateDetail.category.name}}</td>
                <td>{{book.price}}</td>
                <td>{{book.sale_price}}%</td>
                <td>{{book.description}}</td>
                <td>
                    <a [routerLink]="['/admin','books', 'edit',book._id]">
                        <button class="btn btn-primary ms-1">
                            Edit
                        </button>
                    </a>
                    <button class="btn btn-danger ms-1" (click)="onRemoveItem(book._id!)">
                        Remove
                    </button>
                </td>
                <td>
                    <app-status [x]="book" [id]="book._id!"></app-status>
                    <!-- <button class="btn btn-success min-w-70px" *ngIf="book.status === 1"
                        (click)="onUpdatedStatus(0,book._id!)">
                        ON
                    </button>
                    <button class="btn btn-dark min-w-70px" *ngIf="book.status === 0"
                        (click)="onUpdatedStatus(1,book._id!)">
                        OFF
                    </button> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container d-flex align-items-center justify-content-between" style="margin-bottom: 80px">
        <button class="btn btn-primary" routerLink="/admin/books/add">Add New</button>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>