<div *ngIf="user" class="container sanphammoi">
    <div class="sanphammoi_tiltle">
        <h2>
            <a href="#">Tài khoản</a>
        </h2>
    </div>
    <div class='d-flex align'>
        <h6>Name: </h6> {{user.name}}
    </div>
    <div class='d-flex align'>
        <h6>Email: </h6> {{user.email}}
    </div>
    <div>
        <h6 *ngIf="user.role === 1"><button class="btn text-primary" routerLink="/admin">Go to Admin<i-bs
                    name="arrow-right-short" width="25" height="25"></i-bs></button></h6>
    </div>
    <button class="btn btn-danger" (click)="onLogOut()">Đăng xuất</button>
</div>
<!-- <div *ngIf="user" class="container sanphammoi">
    <div class="sanphammoi_tiltle">
        <h2>
            <a href="#">Bạn chưa đăng nhập</a>
        </h2>
    </div>
    <button class="btn text-primary" routerLink="/account/signin">Chuyển tơi đăng nhập<i-bs name="arrow-right-short" width="25" height="25">
        </i-bs></button>
</div> -->