<!-- {{userForm.value | json}} -->
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label for="">Họ tên</label>
        <input 
            type="text" 
            class="form-control" 
            name="name" 
            [(ngModel)] = "inputValues.name"
            #name = "ngModel"
            required minlength="6"
        >
        <app-show-validate [field]="name" key="Tên"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Tuổi</label>
        <input 
            type="number" 
            class="form-control" 
            name="age" 
            [(ngModel)] = "inputValues.age"
            #age = "ngModel"
            required max="100" min="8"
        >
        <app-show-validate [field]="age" key="Tuổi"></app-show-validate>        
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input 
            type="email" 
            class="form-control" 
            name="email" 
            email
            [(ngModel)] = "inputValues.email"
            #email = "ngModel"
            required placeholder="vd: email@gmail.com"
        >
        <app-show-validate [field]="email" key="Email"></app-show-validate>        
    </div>
    <div class="form-group">
        <label for="">Số điện thoại</label>
        <input 
            type="text" 
            class="form-control" 
            name="sdt" 
            [(ngModel)] = "inputValues.sdt"
            #sdt = "ngModel"
            required
        >
        <app-show-validate [field]="sdt" key="Số điện thoại"></app-show-validate>        
    </div>
    <div class="form-group">
        <label for="">Avatar</label>
        <input 
            type="text" 
            class="form-control" 
            name="avatar"
            [(ngModel)] = "inputValues.avatar"
            #avatar = "ngModel"
        >
    </div>
    <div>
        <button [disabled]="!userForm.valid" class="btn btn-primary mt-2">Submit</button>
    </div>
</form>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Avatar</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td><img width="70" [src]="user.avatar" alt=""></td>
                <td>
                    <button class="btn btn-primary mx-2" (click)="onEdit(user.id)">Edit</button>
                    <button class="btn btn-danger" (click)="onRemove(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>